<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="framework/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="framework/bootstrap-3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="framework/css/common.css">
    <script src="framework/js/jquery-1.9.1/jquery.min.js"></script>
    <script src="framework/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="framework/js/uncub.js"></script>
    <style type="text/css">
        div.login {
            width: 500px;
            margin: auto;
            /*border:solid 1px;*/
            padding: 5px;
        }
    </style>
</head>
<body>
<div class="login">
    <form id="loginForm" action="user/login">
        <div class="form-horizontal">
            <div class="form-group">
                <label class=" control-label col-md-2">用户名</label>
                <div class="col-md-10">
                    <input class="form-control " placeholder="输入用户名/邮箱/手机号" name="userNo">
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label col-md-2">密码</label>
                <div class="col-md-10">
                    <input class="form-control " placeholder="输入密码" name="password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 checkbox">
                    <label>
                        <input class="" name="rememberMe" type="checkbox">下次自动登陆</input>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-default" id="submit" type="submit">提交</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script type="application/javascript">
    $(document).ready(function () {
        $('.login').adjustCenter();
    });
</script>


</body>
</html>